@use "src/styles/vars";

.library {
    &_container {
        height: calc(100% - 130px);
        // padding-bottom: 6.5rem;
    }
    &_table {
        margin-top: 1.5rem;
        font-size: small;
        height: 100%;
        &-thead {
            border-bottom: 1px solid vars.$writing-color;
            width: 100%;
            table-layout: fixed;
        }
        &-tbody {
            display: block;
            overflow: auto;
            margin-bottom: 50px;
            height: 100%;
        }
        &-line {
            height: 1.5rem;
        }
        &-firstth {
            text-align: left;
            padding-left: 0.5rem;
            width: 5rem;
        }
    }
}

.card {
    height: 100%;
}

td {
    padding: 0.5rem;
    text-align: center;
}

td:first-of-type {
    text-align: left;
    width: 5rem;
}

tr {
    display: table;
    width: 100%;
    table-layout:fixed;
}


.p-confirm-popup {
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: 51%;
    border: 1px solid rgb(195, 104, 238);
    &-icon {
        margin-top: -1rem;
        margin-left: 0.5rem;
    }
    &-message {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    &-reject {
        background-color: rgb(180, 6, 6);
        color: black;
        width: 45px;
    }
    &-accept {
        background-color: rgb(0, 170, 85);
        color: black;
        border-color: rgb(0, 170, 85);
    }
    &:before {
        bottom: 95%;
        left: calc(var(--overlayArrowLeft, 0) + 0.4rem);
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: rgb(195, 104, 238);
    }
    &:after {
        bottom: 95%;
        left: calc(var(--overlayArrowLeft, 0) + 0.4rem);
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
}

.p-toast {
    text-align: center;
    display: flex;
    justify-content: center;
    &-message {
        padding: 0.5rem;
    }
    &-icon-close {
        padding-left: 12px;
    }
    &-message-text {
        padding-left: 12px;
    }
    &-summary {
        font-weight: bold;
    }
}

.p-messages	 {
    padding: 1rem;
    margin: 2rem;
    height: 3rem;
    width: 20rem;
}
.p-messages-error {
    padding: 1rem;
    margin: 2rem;
}
.p-messages-summary {
    padding: 2rem;
}
.p-inline-message-error {
    padding: 0.5rem;
    // opacity: 0.4;
}