.link-button {
    background-color: #883cae;
    padding: 0.8rem;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 0;
    top: 30rem;
    // font-style: italic;
}