@use "src/styles/vars";

.home {
    height: 100%;
    overflow-y: auto; 
    min-height: calc(100vh - 300px);
    padding: 2rem;
    &_description {
        display: flex;
        flex-direction: column;
        line-height: 3rem;
    }
    &_p {
        font-size: small;
    }

    &_button {
        background: vars.$button-color;
        padding: 1.3rem 4rem 1.3rem 4rem;
        border-radius: 38px;
        border: none;
        margin-top: 2rem;
        color: white;
        font-family: vars.$font-family-general;

        &-container {
            text-align: center;
            padding-bottom: 10rem;
        }
    }
}