@use "src/styles/vars";

td {
    padding: 0.6rem;
}
.p-messages	 {
    padding: 1rem;
    margin: 2rem;
    height: 3rem;
    width: 20rem;
}
.p-messages-success {
    padding: 1rem;
    margin: 2rem;
}
.p-messages-summary {
    padding: 2rem;
}
.p-inline-message-success {
    padding: 0.5rem;
    opacity: 0.9;
}

.library_button-addgame {
    background: vars.$button-color;
    color: white;
    font-family: vars.$font-family-general;
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
}