@use "src/styles/vars";

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    &_form {
        display: flex;
        flex-direction: column;
        &-pseudo {
            margin-bottom: 2rem;
        }
        &-button {
            background: vars.$button-color;
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
            border-radius: 38px;
            border: none;
            margin-top: 3rem;
            color: white;
            font-family: vars.$font-family-general;
        }
        &-register {
            text-align: center;
            margin-top: 1rem;
            line-height: 1rem;
        }
        &-link:hover {
            text-decoration: underline;
        }
    }
    &_error {
        margin-top: 0.5rem;
        color: rgb(243, 120, 120);
    }
}

.p-input-icon {
    padding-bottom: 5rem;
    margin-top: -6px;
}